<%- include("header") -%>

<div class="box" id="heading">

  <div class="about">

    <h2> A cool to-do-list website </h2>

    <p>Easy to use, and can handle multiple lists.</p>

  </div>

</div>

<div class="box toggle" id="heading">
  <button name="button">
    <h2><a
        href="/";
      >Home</a></h2>
  </button>
</div>

<%- include("footer") -%>
